<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/head}">

</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button" th:insert="~{fragments/nav}">

    </nav>
    <div class="container contact-form" style="margin-top: 0px" >

            <div style="display: block;text-align: center;margin-bottom: -60spx;">
                <i class="fas fa-envelope"></i>
            </div>

        <form th:method="post" th:action="@{/support/contact}" th:object="${ticket}" style="margin-top: -45px">
            <h3>Drop Us a Message</h3>
            <div class="row">
                <div class="col-md-6">

                    <div class="form-group">
                        <input th:field="*{email}" type="email" required name="email" class="border rounded form-control" placeholder="Your Email *" value="" />
                        <small class="form-text text-danger" th:errors="*{email}"></small>
                    </div>

                    <div class="form-group">
                        <input th:field="*{subject}" required type="text" name="subject" class="border rounded form-control" placeholder="Subject *" value="" />
                        <small class="form-text text-danger" th:errors="*{subject}"></small>
                    </div>

                    <div class="form-group">
                        <input type="submit" name="btnSubmit" class="rounded-pill btn btn-primary" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <textarea th:field="*{message}" name="message" required  class="form-control border rounded" placeholder="Your Message *" style="width: 100%; height: 150px;"></textarea>
                        <small class="form-text text-danger" th:errors="*{message}"></small>
                    </div>
                </div>



            </div>
        </form>
    </div>
    <div class="footer-basic">
        <footer th:insert="~{fragments/footer}">

        </footer>
    </div>
    <th:block th:insert="~{fragments/scripts}">

    </th:block>
</body>

</html>