<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head}">

</head>
<body>
<nav class="navbar navbar-light navbar-expand-md navigation-clean-button" th:insert="~{fragments/nav}">

</nav>

<div class="container">
    <div class="intro mt-3">
        <h2 class="text-center">Support tickets</h2>
    </div>

        <nav class="support-page-pagination" aria-label="Page navigation example">
            <ul class="pagination">
<!--                <li class="page-item"><a class="page-link" href="#">Previous</a></li>-->
                <li class="page-item" th:each="pageN:${#numbers.sequence(1,totalPages)}" th:classappend="${param.pageN eq #strings.toString(pageN)?'active':''}">
                    <a class="page-link" th:href="@{/support/tickets(pageN=${pageN})}" th:text="${pageN}"></a>
                </li>

<!--                <li class="page-item"><a class="page-link" href="3">Next</a></li>-->
            </ul>
        </nav>




    <div class="row support-ticket header">
        <div class="col-md-1">
            <p>Status</p>
        </div>
        <div class="col-md-3">
            <p>Subject</p>
        </div>
        <div class="col-md-3">
            <p>Email</p>
        </div>
        <div class="col-md-3">
            <p>Date</p>
        </div>
        <div class="col-md-2 text-center">
            <p>Change status</p>
        </div>


    </div>

    <div class="row support-ticket  mt-1" th:each="ticket:${tickets}">
        <div class="col-md-1"  th:classappend="${ticket.resolved eq true ? 'solved':'unsolved'}">

        </div>
        <div class="col-md-3">
            <p th:text="${ticket.subject}"></p>
        </div>
        <div class="col-md-3">
            <p th:text="${ticket.email}"></p>
        </div>
        <div class="col-md-3">
            <p th:text="${#temporals.format(ticket.createdOn,'dd-MM-yyyy HH:mm:ss')}"></p>
        </div>
        <div class="col-md-2">
           <div class="status-buttons">
               <button><i class="fas fa-check"></i></button>
               <button>
                   <i class="fas fa-arrow-circle-right"></i>
               </button>
               <button><i class="fas fa-times"></i></button>

           </div>
        </div>
    </div>


</div>


<div class="footer-basic">
    <footer th:insert="~{fragments/footer}">

    </footer>
</div>
<th:block th:insert="~{fragments/scripts}">

</th:block>


</body>
</html>